
// Section: COLORS
$bg-grey: #f4f4f4
$bg-light-grey: #FCFCFC
$bg-white: #fff
$bg-blue: #EEF6FF
$bg-blue-2: #EBF2FA

$c-blue: #228aca //#0662C1
$c-blue-light: #9ABEE4
$c-grey: #9f9f9f
$c-grey-light: #E0E0E0
$c-green: #169D14
$c-red: #E3000F

$accent: $c-blue
$accent-2: #229DCA
$disabled: $c-blue-light
$text: #2f2f2f
$light-text: $c-grey
$secondary: $c-grey
$links: $c-blue

// bootstrap colors
$blue: $c-blue
$secondary: $c-grey

// form controls
$form-border: #D5D5D5
$form-border-active: $c-grey

// other
$border-color: $bg-grey

/* -- end colors -- */



// Section: Font params
$def-font-size: 16px

/* --- end font params --- */


// Spaces and sizes
$wrapper-pd: 65px
$sidebar-sz: 245px
$bdr-radius: 5px

@import "configs/animations"
//@import "night-colors"

