.toolbar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    .left, .right, .content{
        > * + *{
            margin-left: 12px;
        }
    }

    .left, .right{
        display: flex;
    }

    .right{
        justify-content: flex-end;
    }

    .content{
        width: 100%;
    }


    // Toolbar-Filter
    &.filter{
        form{
            .filter-form-row{
                display: flex;
                justify-content: stretch;
                align-items: center;

                > * + *{
                    margin-left: 20px;
                }

                > a{
                    text-decoration: none;
                }
            }
        }
    }
}
