// [Section] Transactions
section.transactions
    margin-top: 50px

    .toolbar.filter

        .btn + .btn
            margin-left: 12px

        > * + *
            margin-top: 20px

        // datepicker period
        .toolbar__period-picker
            position: relative
            width: 100%

            > .fake-placeholder
                position: absolute
                z-index: 1
                background: #fff
                top: 50%
                transform: translateY(-50%)
                padding: 3px
                left: 9px
                width: calc(100% - 54px)
                cursor: text
                height: calc(100% - 2px)

                display: flex
                justify-content: space-between
                align-items: center

                .fake-placeholder__content
                    width: 100%
                    height: 100%
                    display: flex
                    align-items: center
                    white-space: nowrap


                &:hover, &:active
                    .fake-placeholder__actions
                        opacity: 1

                .fake-placeholder__actions
                    opacity: 0
                    transition: opacity $base-transition-duration
                    white-space: nowrap

                    button
                        padding: 0 5px
                        background: transparent
                        border: none

                        + button
                            margin-left: 3px


        form.filters-form

            .show-filters-btn
                text-decoration: none
                color: $light-text
                white-space: nowrap
                padding: 5px 0
                margin-left: 30px
                font-weight: 500

                &.opened
                    color: $links


            // Filters popup
            .transactions__filter-popup
                position: relative
                padding: 20px 12px
                background: $bg-light-grey
                border-radius: 5px
                margin-top: 25px

                > header
                    text-align: right
                    margin-bottom: 15px
                    a.close-btn
                        display: block
                        position: absolute
                        font-size: 22px
                        color: $light-text
                        right: 12px
                        top: 12px
                        line-height: 22px

                > .row
                    margin-left: -9px
                    margin-right: -9px

                    > *
                        padding-left: 9px
                        padding-right: 9px



    .transactions__graph
        margin: 20px 0
        border-radius: $bdr-radius


        // Graph Header
        .graph__header
            display: flex
            align-items: center
            position: relative

            > .title
                margin-left: 15px
                font-weight: bold

            > .graph__legend
                display: flex
                position: absolute
                right: 0
                top: 50%
                transform: translateY(-50%)

                > *

                    &:before
                        margin-top: -1px
                        content: ''
                        display: inline-block
                        margin-right: 8px
                        height: 1px
                        width: 25px
                        vertical-align: middle

                    + *
                        margin-left: 15px

                > .legend__balance:before
                    border-top: 3px solid $c-green
                > .legend__future:before
                    border-top: 3px solid $accent
                > .legend__plan:before
                    border-top: 2px dashed $accent

            > .graph__category
                position: absolute
                right: 0
                top: 50%
                transform: translateY(-50%)
                z-index: 11

                > .btn
                    border: none
                    background: transparent
                    padding: 0
                    color: $links

                > .graph-category__dropdown
                    position: absolute
                    background-color: #fff
                    padding: 15px
                    right: 0
                    width: 200px
                    z-index: 15
                    border: 1px solid $c-grey-light
                    border-radius: 3px

                    .form-group + .form-group
                        margin-top: 10px


            > .graph__toggle-type
                display: flex
                > button
                    background-color: #fff
                    border: 1px solid $c-grey-light
                    color: $c-grey
                    border-radius: $bdr-radius
                    box-shadow: none
                    margin: 0
                    outline: none
                    padding: 5px 10px

                    &.enabled
                        background-color: $bg-blue


                    &:first-child
                        border-top-right-radius: 0
                        border-bottom-right-radius: 0
                    &:last-child
                        margin-left: -1px
                        border-top-left-radius: 0
                        border-bottom-left-radius: 0


        .graph__insufficient-data-label
            background-color: rgba(255,255,255, .85)
            position: absolute
            left: 0
            top: 0
            width: 100%
            height: 100%

            display: flex
            justify-content: center
            align-items: center
            z-index: 3
            color: $light-text

            > span
                font-weight: 500

            + div
                filter: blur(5px)


        &.opened
            background: #fff
            border-radius: 5px
            padding: 20px

            > footer svg.b-icon
                transform: rotate(180deg)

        //> transition__graph-content


        > footer a
            padding: 5px
            color: $light-text
            display: block
            text-align: center
            text-decoration: none


            &:hover
                background: $bg-grey



    // Список транзакций
    // дополняет стили .table-type-1
    .transaction-list
        margin-top: 20px

        // total sum
        > header
            justify-content: flex-end

            // income and expense
            > div
                display: flex

                > .desc
                    color: $light-text
                &.income .price-format
                    color: $c-green
                &.expense .price-format
                    color: $c-red

                // spaces
                > * + *
                        margin-left: 7px
                + div
                    margin-left: 20px


        // main table
        .transaction-list__table

            .transaction-item

                &.income
                    .price-format
                        color: $c-green
                &.expense
                    .price-format
                        color: $c-red

                // &-content
                    // padding: 20px 150px

                    // > footer
                        // any


            // cells styling
            .cell

                &.date
                    min-width: 100px
                    width: 100px
                    padding-left: 5px
                &.sum
                    width: calc(29% - 135px)

                &.budget-item
                    width: calc(32% - 135px)

                    .desc
                        font-size: 14px
                        color: $light-text

                &.project
                    width: calc(28% - 135px)

                &.counterparty
                    width: calc(32% - 135px)

                    .category
                        font-size: 14px
                        color: $light-text

                &.checking-account
                    width: calc(31% - 141px)

                    > * + *:before
                        color: $light-text
                        content: ' > '
                        display: inline-block





// Filter period [disabled]
.filter-period
    > .fake-form-control
        display: flex
        align-items: center
        white-space: nowrap

        > .icon
            margin-left: 15px

    &__choose-menu
        position: absolute
        margin-top: 5px
        background: $bg-white
        z-index: 5


