// account list

.account{
    &__company-list{
        list-style: none;
        padding: 0;
        border: 1px solid $c-grey-light;
        margin-bottom: 35px;

        > li{
            display: block;

            + li{
                border-top: 1px solid lighten($c-grey-light, 10);
            }

            > a{
                display: block;
                padding: 15px 20px;
                text-decoration: none;
                color: #4e4e4e;
                font-size: 18px;
                background: #fff;
                transition: background $base-transition-duration;

                &:hover{
                    background: #fcfcfc;
                }
            }
        }
    }
}
