.settings-page .settings__common{
    table.custom-table{
        max-width: 700px;

        th, td{
            padding-top: 10px;
            padding-bottom: 10px;
            vertical-align: top;
        }

        tr.edit > td{
            padding: 20px;
            background: $bg-grey;

            form .btn{
                padding: 0;
                display: inline-block;
                text-decoration: none;
                margin-top: 10px;

                + .btn{
                    margin-left: 8px;
                }
            }
        }
    }
}
